<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>
<form action="/named-cat">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
<div style='border: 5px dotted blue'>
 <img src='https://i.pinimg.com/originals/a1/e5/1a/a1e51a25bf08b1a104a6625fe123f388.jpg'>
</div>
